/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #1877F2;
    color: white;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.navbar a:hover {
    opacity: 0.8;
}

.container {
    width: 100%;
    max-width: 1000px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 6px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
}

input::placeholder {
    color: #aaa;
}

input[type="submit"] {
    background-color: #1877F2;
    color: #ffffff;
    border: none;
    padding: 14px 0;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #145db2;
}

#logout {
    margin-top: 30px;
    font-size: 16px;
    color: #1877F2;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
}

select {
    padding: 12px;
    font-size: 16px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.flight_options_container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10;
}

.flights-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    overflow: hidden;
}

.flights-table th,
.flights-table td {
    padding: 14px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.flights-table thead {
    background-color: #1877F2;
    color: white;
}

.flights-table tbody tr:hover {
    background-color: #f6faff;
}

#flight_search_results_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-top: 30px;    
}

